{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up Closed" %}</h1>

def form_valid(self, form):
self.user = form.save(self.request)
try:
    return complete_signup( …
        self.request,
        self.user,
        app_settings.EMAIL_VERIFICATION,
        self.get_success_url(),
    )
except ImmediateHttpResponse as e:

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
{% endblock %}
